*{
    padding: 0px;
    margin: 0px;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background: linear-gradient(141deg, #2980b9 10%, #3498db 30%, #2980b9 75%);
    padding-top: 50px;
}
#homeLogo{
    max-height: 700px;
}
